.top{
    width: 25%;
    float: left;
    
}
.vmenu{
    position: relative;
    box-shadow: 0px 0px 5px gray;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
}

.vmenu >.name{
    
    font-variant: small-caps;
    color: red;
}
.vmenu >.image{
    max-width: 98%;
    height: 150px;
    margin-bottom: 10px;
}
.vmenu >.giá{
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-family: impact;
    font-size: 25px;
    color: orange;
   
}
.vmenu >.icons{
    position: absolute;
    width: 25px;
    bottom: 5px;
    right: 5px;
}
.vmenu >.new-icon{
    position: absolute;
    top: 0px;
    right: 0px;
    
}